
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://kit.fontawesome.com/9c79c8b6e4.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/colreorder/2.0.0/js/dataTables.colReorder.js"></script>
    <script src="https://cdn.datatables.net/colreorder/2.0.0/js/colReorder.bootstrap5.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-light nav-tabs" style="margin-bottom:30px">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("MainIndex", "Main")">
                <i class="fa-solid fa-dolly"></i><i style="color:gold;" class="fa-solid fa-logoname">Stokip</i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div id="navbar" class="navbar-nav">
                    <a class="nav-link @(activeClass("Main"))" href="@Url.Action("MainIndex", "Main")"><i class="fa-solid fa-house"></i> <b>Ana Sayfa</b></a>
                    <a class="nav-link @(activeClass("Urun"))" href="@Url.Action("UrunIndex", "Urun")"><i class="fa-solid fa-box"></i> <b>Ürünler</b></a>
                    <a class="nav-link @(activeClass("Kategori"))" href="@Url.Action("KategoriIndex", "Kategori")"><i class="fa-solid fa-tags"></i> <b>Kategoriler</b></a>
                    <a class="nav-link @(activeClass("Musteri"))" href="@Url.Action("MusteriIndex", "Musteri")"><i class="fa-solid fa-users"></i> <b>Müşteriler</b></a>
                    <a class="nav-link @(activeClass("Satis"))" href="@Url.Action("SatisIndex", "Satis")"><i class="fa-solid fa-money-bill-1"></i> <b>Satışlar</b></a>
                    <a class="nav-link @(activeClass("Alis"))" href="@Url.Action("AlisIndex", "Alis")"><i class="fa-solid fa-cart-shopping"></i> <b>Alışlar</b></a>
                </div>
            </div>
            <div class="dropdown justify-content-end userPanel">
                <button style="border-color:indigo !important;" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <ul style="right:0;" class="dropdown-menu rounded" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a style="text-decoration:none;" class="dropdown-item-text">
                            <i style="color:indigo;" class="fa-solid fa-user-tag">:</i>
                            <b><span id="username" style="color:gold;"></span></b>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <button class="dropdown-item btn btn-UpdateCredentials" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                            <i style="color:indigo; margin-right:5px;" class="fa-solid fa-user-gear"></i>
                            <span style="color:gold;">Hesap Bilgileri</span>
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item btn" onclick="window.location.href='@Url.Action("Logout", "User")'">
                            <i style="color: indigo; margin-right: 5px;" class="fa-solid fa-person-walking-arrow-right"></i>
                            <span style="color:gold;">Çıkış Yap</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Bilgilerimi Değiştir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
                </div>
                <div class="modal-body">
                    <form id="changePasswordForm">
                        <div class="input-group mb-3 form-group">
                            <span class="input-group-text"><label for="changePasswordUsername" class="form-label"><i style="margin-right:5px;" class="fa-solid fa-address-card"></i>Kullanıcı Adı:</label></span>
                            <input type="text" class="form-control" id="changePasswordUsername" name="username" readonly>
                        </div>
                        <div class="input-group mb-3 form-group">
                            <span class="input-group-text">
                                <label for="changePasswordUsername" class="form-label">
                                    <i style="margin-right:5px;" class="fa-solid fa-address-card"></i>
                                    Yeni Kullanıcı Adı:
                                    </label>
                            </span>
                            <input placeholder="Değiştirmek istemiyorsanız boş bırakın." type="text" class="form-control" id="changePasswordNewUsername" name="username">
                        </div>
                        <div class="input-group mb-3 form-group">
                            <span class="input-group-text"><label for="changePasswordOld" class="form-label"><i style="margin-right:5px;" class="fa-solid fa-key"></i>Mevcut Şifre:</label></span>
                            <input placeholder="Değişikleri kaydedebilmeniz için mevcut şifrenizi girin." type="password" class="form-control" id="changePasswordOld" name="oldPassword">
                        </div>
                        <div class="input-group mb-3 form-group">
                            <span class="input-group-text"><label for="changePasswordNew" class="form-label"><i style="margin-right:5px;" class="fa-solid fa-key"></i>Yeni Şifre:</label></span>
                            <input placeholder="Değiştirmek istemiyorsanız boş bırakın." type="password" class="form-control" id="changePasswordNew" name="newPassword">
                        </div>
                        <div class="input-group mb-3 form-group">
                            <span class="input-group-text"><label for="changePasswordConfirm" class="form-label"><i style="margin-right:5px;" class="fa-solid fa-key"></i>Yeni Şifre Tekrar:</label></span>
                            <input type="password" class="form-control" id="changePasswordConfirm" name="confirmPassword">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" id="changePasswordBtn" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()
</body>
</html>

@{
    string activeClass(string controller)
    {
        var active = string.Equals(ViewContext.RouteData.Values["Controller"].ToString(), controller, StringComparison.OrdinalIgnoreCase) ? "active" : "";
        return active;
    }
}

<script>

    $(document).ready(function() {
        $('.dropdown-toggle').click(function() {
            var dropdownMenu = $(this).next('.dropdown-menu');
            dropdownMenu.toggleClass('show');
            dropdownMenu.parent().toggleClass('show');
        });

        $(document).on('click', function(e) {
            if (!$(e.target).closest('.dropdown-toggle').length) {
                $('.dropdown-menu').removeClass('show');
                $('.dropdown-toggle').parent().removeClass('show');
            }
        });

        $.ajax({
            url: '@Url.Action("GetActiveUser", "User")',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var activeUser = response.username;
                $("#username").html(activeUser);
                $("#changePasswordUsername").val(activeUser);
            }
        });

        $(".btn-UpdateCredentials").click(function () {
            $('#changePasswordModal').modal('show');
        })

        $('#changePasswordBtn').click(function () {
            var username = $('#changePasswordUsername').val();
            var newUsername = $('#changePasswordNewUsername').val();
            var oldPassword = $('#changePasswordOld').val();
            var newPassword = $('#changePasswordNew').val();
            var confirmPassword = $('#changePasswordConfirm').val();

            if (oldPassword === "") {
                return;
            }

            if (newPassword === "" && newUsername === "") {
                return;
            }

            if (newPassword !== confirmPassword) {
                alert("Yeni şifreler eşleşmiyor!");
                return;
            }

            $.ajax({
                url: '@Url.Action("UpdateCredentials", "User")',
                type: 'POST',
                dataType: 'json',
                data: {
                    username: username,
                    newUsername: newUsername,
                    oldPassword: oldPassword,
                    newPassword: newPassword
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        window.location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert("Sunucu hatası! Bilgileriniz değiştirilemedi.");
                }
            });
        });

        $('#changePasswordModal').keypress(function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                $("#changePasswordBtn").click();
            }
        })

    });

</script>