@using POStock.Models.Entity
@model List<MUSTERI>
@{
    ViewBag.Title = "MusteriIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container shadow-lg p-3 mb-5 bg-body rounded">

    <div><h3><b>MÜŞTERİLER</b></h3></div>

    <table class="table table-hover table-responsive" style="width:100%" id="myTable">

        <thead>
            <tr style="text-align:center">
                <th>#</th>
                <th>Müşteri Adı ve Soyadı</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody class="table table-group-divider">

            @{
                int aktifSayac = 1;
            }

            @for (int i = Model.Count - 1; i >= 0; i--)
            {
                if (Model[i].IsActive == true)
                {
                    <tr style="text-align:center">
                        <td><b>@aktifSayac</b></td>
                        <td style="text-align:left;">@Model[i].MusteriAd @Model[i].MusteriSoyad</td>
                        <td>
                            <span>
                                <button data-id="@Model[i].MusteriID" type="button" class="btn btn-outline-warning btn-guncelle" data-bs-toggle="modal" data-bs-target="#musteriGuncelle">
                                    <i style="color:indigo" class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </span>
                        </td>
                        <td>
                            <span>
                                <a class="btn btn-outline-danger" href="@Url.Action("MusteriSil", "Musteri", new {id = Model[i].MusteriID})" onclick="return confirmDelete()">
                                    <i style="color:indigo" class="fa-solid fa-trash-can"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    aktifSayac++;
                }
            }
        </tbody>

    </table>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#musteriEkle">Yeni Müşteri</button>

</div>

<div class="modal fade" id="musteriGuncelle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Müşteri Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">

                <form id="musteriGuncelleForm">

                    <input type="hidden" id="musteriId" name="MusteriID">
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="musteriAdi">Müşteri Adı:</label></span>
                        <input type="text" class="form-control" id="musteriAdi" name="MusteriAd">
                    </div>
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="musteriSoyadi">Müşteri Soyadı:</label></span>
                        <input type="text" class="form-control" id="musteriSoyadi" name="MusteriSoyad">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnSave" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="musteriEkle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Yeni Müşteri</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>

            <div class="modal-body">

                <form method="post" action="@Url.Action("MusteriOlustur", "Musteri")">

                    <input type="hidden" id="musteriId" name="MusteriID">
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="musteriAdi">Müşteri Adı:</label></span>
                        <input type="text" class="form-control" id="musteriAdi" name="MusteriAd">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text"><label for="musteriSoyadi">Müşteri Soyadı:</label></span>
                        <input type="text" class="form-control" id="musteriSoyadi" name="MusteriSoyad">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" id="katEklebtnSave" class="btn btn-success">Kaydet</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
                { "width": "20px", "targets": 2 },
                { "width": "20px", "targets": 3 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });

        $('.btn-guncelle').click(function () {
            var musteriId = $(this).data('id');

            $.ajax({
                url: '/Musteri/MusteriBilgisiniGetir',
                type: 'GET',
                data: { id: musteriId },
                success: function (data) {
                    $('#musteriId').val(data.MusteriID);
                    $('#musteriAdi').val(data.MusteriAd);
                    $('#musteriSoyadi').val(data.MusteriSoyad);

                    $('#musteriGuncelle').modal('show');
                },
                error: function () {
                    alert('Müşteri bilgileri alınamadı.');
                }
            });
        });

        $('#btnSave').click(function () {
            var formData = new FormData($('#musteriGuncelleForm')[0]);

            $.ajax({
                url: '/Musteri/MusteriGuncelle',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    $('#musteriGuncelle').modal('hide');
                    location.reload();
                },
                error: function () {
                    alert('Müşteri güncellenemedi.');
                }
            });
        });

        $('#musteriGuncelle').keypress(function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                $("#btnSave").click();
            }
        })

    });

    function confirmDelete() {
        var userConfirmed = confirm('Silme işlemi gerçekleştirilsin mi?');
        return userConfirmed;
    }

</script>