@using POStock.Models.Entity
@model List<URUN>
@{
    ViewBag.Title = "UrunIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container shadow-lg p-3 mb-5 bg-body rounded">

    <div><h3><b>ÜRÜNLER</b></h3></div>

    <table class="table table-hover" style="width:100%; text-align:left" id="myTable">

        <thead>
            <tr>
                <th>#</th>
                <th>Ürün Adı</th>
                <th>Ürün Kategorisi</th>
                <th>Stok</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody class="table table-group-divider">

            @{
                int aktifSayac = 1;
            }

            @for (int i = Model.Count - 1; i >= 0; i--)
            {
                if (Model[i].IsActive == false)
                {
                    continue;
                }
                else
                {
                    <tr style="text-align:center">
                        <td><b>@aktifSayac</b></td>
                        <td style="text-align:left">@Model[i].UrunAd</td>
                        <td style="text-align:left">@Model[i].KATEGORI.KategoriAd</td>
                        <td>@Model[i].Stok</td>
                        <td>
                            <span>
                                <button data-id="@Model[i].UrunID" type="button" class="btn btn-outline-warning btn-guncelle" data-bs-toggle="modal" data-bs-target="#urunGuncelle">
                                    <i style="color:indigo" class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </span>
                        </td>
                        <td>
                            <span>
                                <a class="btn btn-outline-danger" href="@Url.Action("UrunSil", "Urun", new { id = Model[i].UrunID })" onclick="return confirmDelete()">
                                    <i style="color:indigo" class="fa-solid fa-trash-can"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
                aktifSayac++;
            }
        </tbody>

    </table>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#urunEkle">Yeni Ürün</button>

</div>

<div class="modal fade" id="urunGuncelle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ürün Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">

                <form id="urunGuncelleForm">

                    <input type="hidden" id="urunId" name="UrunID">
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="urunAdi"><i style="margin-right:5px;" class="fa-solid fa-box"></i>Ürün Adı:</label></span>
                        <input type="text" class="form-control" id="urunAdi" name="UrunAd">
                    </div>
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="kategori"><i style="margin-right:5px;" class="fa-solid fa-tag"></i>Ürün Kategorisi:</label></span>
                        <select class="form-select" id="kategori" name="UrunKategori">
                            @foreach (var kat in ViewBag.katList)
                            {
                                if (kat.IsActive == true)
                                {
                                    <option value="@kat.KategoriID">@kat.KategoriAd</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="stok"><i style="margin-right:5px;" class="fa-solid fa-arrow-up-9-1"></i>Stok:</label></span>
                        <input type="number" class="form-control" id="stok" name="Stok">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnSave" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="urunEkle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Yeni Ürün</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>

            <div class="modal-body">

                <form method="post" action="@Url.Action("UrunOlustur", "Urun")">

                    <input type="hidden" id="katId" name="UrunID">
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="urunAdi"><i style="margin-right:5px;" class="fa-solid fa-box"></i>Ürün Adı:</label></span>
                        <input type="text" class="form-control" id="urunAdi" name="UrunAd">
                    </div>

                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="kat"><i style="margin-right:5px;" class="fa-solid fa-tag"></i>Kategori:</label></span>
                        <select class="form-select" id="kat" name="Kategori">
                            @foreach (var item in ViewBag.katList)
                            {
                                if (item.IsActive == true)
                                {
                                    <option value="@item.KategoriID">@item.KategoriAd</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" id="urunEklebtnSave" class="btn btn-success">Kaydet</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#stok').on('input', function () {

            var stokDeger = $(this).val();
            var strStok = stokDeger.toString();

            if (strStok.startsWith("0") && strStok.length > 1) {
                strStok = strStok.slice(1);
                stokDeger = parseInt(strStok);
                $(this).val(stokDeger);
            }

            if (stokDeger < 0 || stokDeger === '') {
                $(this).val('0');
            }
        });

        $('#myTable').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
                { "width": "20px", "targets": 4 },
                { "width": "20px", "targets": 5 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });

        $('.btn-guncelle').click(function () {
            var urunId = $(this).data('id');

            $.ajax({
                url: '/Urun/UrunBilgisiniGetir',
                type: 'GET',
                data: { id: urunId },
                success: function (data) {
                    $('#urunId').val(data.UrunID);
                    $('#urunAdi').val(data.UrunAd);

                    $('#kategori').val(data.seciliKat);

                    $('#stok').val(data.Stok);

                    $('#urunGuncelle').modal('show');
                },
                error: function () {
                    alert('Ürün bilgileri alınamadı.');
                }
            });
        });

        $('#btnSave').click(function () {
            var formData = new FormData($('#urunGuncelleForm')[0]);

            $.ajax({
                url: '/Urun/UrunGuncelle',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    $('#urunGuncelle').modal('hide');
                    location.reload();
                },
                error: function () {
                    alert('Ürün güncellenemedi.');
                }
            });
        });

        $('#urunGuncelle').keypress(function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                $("#btnSave").click();
            }
        })

    });

    function confirmDelete() {
        var userConfirmed = confirm('Silme işlemi gerçekleştirilsin mi?');
        return userConfirmed;
    }

</script>