@using POStock.Models.Entity
@model List<ALIS>
@{
    ViewBag.Title = "AlisIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container shadow-lg p-3 mb-5 bg-body rounded">

    <div><h3><b>ALIŞLAR</b></h3></div>

    <table class="table table-hover" style="width:100%;" id="myTable">

        <thead>
            <tr style="text-align:center">
                <th>#</th>
                <th>Ürün Adı</th>
                <th>Ürün Kategorisi</th>
                <th>Adet</th>
                <th>Birim Fiyat</th>
                <th>Toplam Fiyat</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody class="table table-group-divider">

            @{
                int sayac = 1;
            }

            @for (int i = Model.Count - 1; i >= 0; i--)
            {

                <tr style="text-align:center">
                    <td><b>@sayac</b></td>
                    <td style="text-align:left">@Model[i].URUN.UrunAd</td>
                    <td style="text-align:left">@Model[i].URUN.KATEGORI.KategoriAd</td>
                    <td>@Model[i].Adet</td>
                    <td style="text-align:right">@Model[i].BirimFiyat ₺</td>
                    <td style="text-align:right">@Model[i].ToplamFiyat ₺</td>
                    @if (Model[i].URUN.IsActive == true)
                    {
                        <td><a class="btn btn-outline-danger" href="@Url.Action("AlisSil", "Alis", new { id = Model[i].AlisID })" onclick="return confirmDelete()">Sil</a></td>
                    }
                    else
                    {
                        <td><a class="btn btn-outline-danger disabled">Sil</a></td>
                    }
                </tr>
                sayac++;

            }
        </tbody>

    </table>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#alisEkle">Yeni Alış</button>

</div>

<div class="modal fade" id="alisEkle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Alış Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>

            <div class="modal-body">

                <form method="post">

                    <div class="input-group mb-3">
                        <span class="input-group-text"><label for="urun">Ürün:</label></span>
                        <select class="form-select" id="urun" name="Urun">
                            @foreach (var urun in ViewBag.urunList)
                            {
                                if (urun.IsActive == true)
                                {
                                    <option value="@urun.UrunID">@urun.UrunAd</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="input-group mb-3">

                        <span class="input-group-text"><label for="adet">Adet:</label></span>
                        <input type="number" class="form-control" id="adet" name="Adet" />

                    </div>

                    <div class="input-group mb-3">

                        <span class="input-group-text"><label for="toplamFiyat">Toplam Fiyat:</label></span>
                        <input type="text" oninput="formatFiyat(this.value)" class="form-control" id="toplamFiyat" name="ToplamFiyat" />
                        <span class="input-group-text custom-price">₺</span>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="button" id="btnSave" onclick="submitForm()" class="btn btn-success">Kaydet</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#myTable').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });

        $('#alisEkle').keypress(function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                $("#btnSave").click();
            }
        })
    });

    function submitForm() {
        var formData = {
            Urun: $('#urun').val(),
            Adet: $('#adet').val(),
            ToplamFiyat: $('#toplamFiyat').val()
        };

        $.ajax({
            url: '/Alis/AlisOlustur',
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
                if (!response.success) {
                    alert(response.message);
                } else {
                    window.location.href = '/Alis/AlisIndex';
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    }

    function confirmDelete() {
        var userConfirmed = confirm('Silme işlemi gerçekleştirilsin mi?\n');
        return userConfirmed;
    }

    function formatFiyat(value) {
        value = value.replace(/[^\d,.]/g, '');
        value = value.replace(/,/g, '');

        var parts = value.split('.');
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        var formattedValue = parts.join('.');

        document.getElementById('toplamFiyat').value = formattedValue;
    }

</script>