@using POStock.Models.Entity
@model List<KATEGORI>
@{
    ViewBag.Title = "KategoriIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center"><h3><b>KATEGORİLER</b></h3></div>

<div class="container">

    <table class="table table-hover" style="width:100%;" id="myTable">

        <thead>
            <tr>
                <th>#</th>
                <th>Kategori Adı</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody class="table table-group-divider">

            @{
                // Aktif ürünler için ayrı bir sayacı takip et
                int aktifSayac = 1;
            }

            @for (int i = 0; i < Model.Count; i++)
            {
                if (Model[i].IsActive == true)
                {
                    <tr style="text-align:center">
                        <td><b>@aktifSayac</b></td>
                        <td style="text-align:left">@Model[i].KategoriAd</td>
                        <td><button data-id="@Model[i].KategoriID" type="button" class="btn btn-outline-warning btn-guncelle" data-bs-toggle="modal" data-bs-target="#katGuncelle">Güncelle</button></td>
                        <td><a class="btn btn-danger" href="@Url.Action("KategoriSil", "Kategori", new {id = Model[i].KategoriID})" onclick="return confirmDelete()">Sil</a></td>
                    </tr>
                    aktifSayac++;
                }
            }
        </tbody>

    </table>
    @*<a class="btn btn-success" href="@Url.Action("KategoriOlustur", "Kategori")">Yeni Kategori</a>*@
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#katEkle">Yeni Kategori</button>

</div>

<div class="modal fade" id="katGuncelle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Kategori Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">

                <form id="katGuncelleForm">

                    <input type="hidden" id="katId" name="KategoriID">
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="katAdi">Kategori Adı:</label></span>                       
                        <input type="text" class="form-control" id="katAdi" name="KategoriAd">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnSave" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="katEkle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Kategori Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>

            <div class="modal-body">

                <form method="post" action="@Url.Action("KategoriOlustur", "Kategori")">

                    <input type="hidden" id="katId" name="KategoriID">
                    <div class="input-group mb-3 form-group">
                        <span class="input-group-text"><label for="katAdi">Kategori Adı:</label></span>
                        <input type="text" class="form-control" id="katAdi" name="KategoriAd">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="submit" id="btnSave" class="btn btn-success">Kaydet</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var dataTable = $('#myTable').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
                { "width": "20px", "targets": 2 },
                { "width": "20px", "targets": 3 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });

        $('.btn-guncelle').click(function () {
            var katId = $(this).data('id');

            // Ajax isteği yaparak ürün bilgilerini al
            $.ajax({
                url: '/Kategori/KategoriBilgisiniGetir', // Sunucuda bu adrese sahip bir metot olmalı
                type: 'GET',
                data: { id: katId },
                success: function (data) {
                    $('#katId').val(data.KategoriID);
                    $('#katAdi').val(data.KategoriAd);

                    $('#katGuncelle').modal('show');
                },
                error: function () {
                    alert('Kategori bilgileri alınamadı.');
                }
            });
        });

        // Kaydet butonuna tıklanınca
        $('#btnSave').click(function () {
            var formData = new FormData($('#katGuncelleForm')[0]);

            // Ajax isteği yaparak form verilerini sunucuya gönder
            $.ajax({
                url: '/Kategori/KategoriGuncelle', // Sunucuda bu adrese sahip bir metot olmalı
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    // Başarılı ise modalı kapat ve sayfayı yenile
                    $('#katGuncelle').modal('hide');
                    location.reload();
                },
                error: function () {
                    alert('Kategori güncellenemedi.');
                }
            });
        });

        $('#katGuncelle').keypress(function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                $("#btnSave").click();
            }
        })

    });

    function confirmDelete() {
        var userConfirmed = confirm('Silme işlemi gerçekleştirilsin mi?');
        return userConfirmed;
    }

</script>