@model List<POStock.Models.Entity.ALIS>
@{
    ViewBag.Title = "MainIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div class="container">

    <div class="row shadow-lg p-3 mb-5 bg-body rounded align-items-center">

        <div class="col-md-3">

            <div>
                <div id="salesPieChart"></div>
            </div>
            <div style="display:none;" id="salesEmptyAlert" class="alert custom-alert d-none" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                <div>
                    Satışlar tablosunda henüz aktif ürün satışı bulunmamaktadır.
                </div>
            </div>

        </div>

        <div class="col-md-9">

            <div><h3><b>SATIŞLAR</b></h3></div>
            <table class="table table-hover" style="width:100%;" id="myTable">

                <thead>
                    <tr style="text-align:center">
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Kategorisi</th>
                        <th>Müşteri</th>
                        <th>Adet</th>
                        <th>Birim Fiyat</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody class="table table-group-divider">

                    @{
                        int sayac = 1;
                    }

                    @for (int i = ViewBag.satisList.Count - 1; i >= 0; i--)
                    {

                        //if (ViewBag.satisList[i].URUN.IsActive == true)
                        //{
                            <tr style="text-align:center">
                                <td><b>@sayac</b></td>
                                <td style="text-align:left;">@ViewBag.satisList[i].URUN.UrunAd</td>
                                <td style="text-align:left">@ViewBag.satisList[i].URUN.KATEGORI.KategoriAd</td>
                                <td style="text-align:left;">@ViewBag.satisList[i].MUSTERI.MusteriAd @ViewBag.satisList[i].MUSTERI.MusteriSoyad</td>
                                <td>@ViewBag.satisList[i].Adet</td>
                                <td style="text-align:right">@ViewBag.satisList[i].BirimFiyat ₺</td>
                                <td style="text-align:right">@ViewBag.satisList[i].ToplamFiyat ₺</td>
                            </tr>
                            sayac++;
                            //}

                        }
                </tbody>

            </table>

        </div>

    </div>

    <div class="row shadow-lg p-3 mb-5 bg-body rounded align-items-center">

        <div class="col-md-3">

            <div>
                <div id="purchasesPieChart"></div>
            </div>
            <div style="display:none;" id="purchasesEmptyAlert" class="alert custom-alert d-none" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                <div>
                    Alışlar tablosunda henüz aktif ürün alışı bulunmamaktadır.
                </div>
            </div>

        </div>

        <div class="col-md-9">

            <div style="text-align:center"><h3><b>ALIŞLAR</b></h3></div>
            <table class="table table-hover" style="width:100%;" id="myTable2">

                <thead>
                    <tr style="text-align:center">
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Kategorisi</th>
                        <th>Adet</th>
                        <th>Birim Fiyat</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody class="table table-group-divider">

                    @{
                        int sayac2 = 1;
                    }

                    @for (int i = Model.Count - 1; i >= 0; i--)
                    {

                        //if (Model[i].URUN.IsActive == true)
                        //{
                            <tr style="text-align:center">
                                <td><b>@sayac2</b></td>
                                <td style="text-align:left">@Model[i].URUN.UrunAd</td>
                                <td style="text-align:left">@Model[i].URUN.KATEGORI.KategoriAd</td>
                                <td>@Model[i].Adet</td>
                                <td style="text-align:right">@Model[i].BirimFiyat ₺</td>
                                <td style="text-align:right">@Model[i].ToplamFiyat ₺</td>
                            </tr>
                            sayac2++;
                        //}

                    }
                </tbody>

            </table>

        </div>

    </div>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        // Satış verilerini çek
        $.ajax({
            url: '/Main/GetSalesData',
            type: 'GET',
            dataType: 'json',
            success: function (salesData) {
                drawSalesChart(salesData);
            },
            error: function (error) {
                console.error('Satış verileri alınamadı:', error);
            }
        });

        // Alış verilerini çek
        $.ajax({
            url: '/Main/GetPurchasesData',
            type: 'GET',
            dataType: 'json',
            success: function (purchasesData) {
                drawPurchasesChart(purchasesData);
            },
            error: function (error) {
                console.error('Alış verileri alınamadı:', error);
            }
        });
    }

    function drawSalesChart(data) {

        if (data.length == 0) {
            var alert = document.getElementById("salesEmptyAlert");
            alert.classList.remove("d-none");
            alert.classList.add("d-flex");
            return;
        }

        var salesChartData = [['Ürün', 'Satış Miktarı']];
        data.forEach(function (item) {
            salesChartData.push([item.ProductName.toString(), item.TotalQuantity]);
        });

        var salesChartDataTable = google.visualization.arrayToDataTable(salesChartData);

        var salesChartOptions = {
            title: 'Ürün Satış Miktarları',
        };

        var salesChart = new google.visualization.PieChart(document.getElementById('salesPieChart'));
        salesChart.draw(salesChartDataTable, salesChartOptions);
    }

    function drawPurchasesChart(data) {

        if (data.length == 0) {
            var alert = document.getElementById("purchasesEmptyAlert");
            alert.classList.remove("d-none");
            alert.classList.add("d-flex");
            return;
        }

        var purchasesChartData = [['Ürün', 'Alış Miktarı']];
        data.forEach(function (item) {
            purchasesChartData.push([item.ProductName.toString(), item.TotalQuantity]);
        });

        var purchasesChartDataTable = google.visualization.arrayToDataTable(purchasesChartData);

        var purchasesChartOptions = {
            title: 'Ürün Alış Miktarları',
        };

        var purchasesChart = new google.visualization.PieChart(document.getElementById('purchasesPieChart'));
        purchasesChart.draw(purchasesChartDataTable, purchasesChartOptions);
    }

    $(document).ready(function () {
        $('#myTable').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });

        $('#myTable2').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });

    });

</script>