@model List<POStock.Models.Entity.ALIS>
@{
    ViewBag.Title = "MainIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row shadow-lg p-3 mb-5 bg-body rounded align-items-center">

        <div class="col-md-4">

            <div>
                <div id="salesPieChart"></div>
            </div>
            <div style="display:none;" id="salesEmptyAlert" class="alert custom-alert d-none" role="alert">
                <i class="fa-solid fa-chart-pie"></i>
                <span>Satışlar tablosunda henüz ürün satışı bulunmamaktadır.</span>
            </div>

        </div>

        <div class="col-md-8">

            <div><h3><b>SATIŞLAR</b></h3></div>
            <table class="table table-hover" style="width:100%;" id="myTable">

                <thead>
                    <tr style="text-align:center">
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Kategorisi</th>
                        <th>Müşteri</th>
                        <th>Adet</th>
                        <th>Birim Fiyat</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody class="table table-group-divider">

                    @{
                        int sayac = 1;
                    }

                    @for (int i = ViewBag.satisList.Count - 1; i >= 0; i--)
                    {

                        if (ViewBag.satisList[i].SatisUser == (short)Session["userID"])
                        {
                            <tr style="text-align:center">
                                <td><b>@sayac</b></td>
                                <td style="text-align:left;">@ViewBag.satisList[i].URUN.UrunAd</td>
                                <td style="text-align:left">@ViewBag.satisList[i].URUN.KATEGORI.KategoriAd</td>
                                <td style="text-align:left;">@ViewBag.satisList[i].MUSTERI.MusteriAd @ViewBag.satisList[i].MUSTERI.MusteriSoyad</td>
                                <td>@ViewBag.satisList[i].Adet</td>
                                <td style="text-align:right">@String.Format("{0:N2} ₺", @ViewBag.satisList[i].BirimFiyat)</td>
                                <td style="text-align:right">@String.Format("{0:N2} ₺", @ViewBag.satisList[i].ToplamFiyat)</td>
                            </tr>
                            sayac++;
                        }

                    }
                </tbody>

            </table>

        </div>

    </div>

    <div class="row shadow-lg p-3 mb-5 bg-body rounded align-items-center">

        <div class="col-md-4">

            <div>
                <div id="purchasesPieChart"></div>
            </div>
            <div style="display:none;" id="purchasesEmptyAlert" class="alert custom-alert d-none" role="alert">
                <i class="fa-solid fa-chart-pie"></i>
                <span>Alışlar tablosunda henüz ürün alışı bulunmamaktadır.</span>
            </div>

        </div>

        <div class="col-md-8">

            <div style="text-align:center"><h3><b>ALIŞLAR</b></h3></div>
            <table class="table table-hover" style="width:100%;" id="myTable2">

                <thead>
                    <tr style="text-align:center">
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Kategorisi</th>
                        <th>Adet</th>
                        <th>Birim Fiyat</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody class="table table-group-divider">

                    @{
                        int sayac2 = 1;
                    }

                    @for (int i = Model.Count - 1; i >= 0; i--)
                    {

                        if (Model[i].AlisUser == (short)Session["userID"])
                        {
                            <tr style="text-align:center">
                                <td><b>@sayac2</b></td>
                                <td style="text-align:left">@Model[i].URUN.UrunAd</td>
                                <td style="text-align:left">@Model[i].URUN.KATEGORI.KategoriAd</td>
                                <td>@Model[i].Adet</td>
                                <td style="text-align:right">@String.Format("{0:N2} ₺", @Model[i].BirimFiyat)</td>
                                <td style="text-align:right">@String.Format("{0:N2} ₺", @Model[i].ToplamFiyat)</td>
                            </tr>
                            sayac2++;
                        }

                    }
                </tbody>

            </table>

        </div>

    </div>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        // Satış verilerini çek
        $.ajax({
            url: '/Main/GetSalesData',
            type: 'GET',
            dataType: 'json',
            success: function (salesData) {
                drawSalesChart(salesData);
            },
            error: function (error) {
                console.error('Satış verileri alınamadı:', error);
            }
        });

        // Alış verilerini çek
        $.ajax({
            url: '/Main/GetPurchasesData',
            type: 'GET',
            dataType: 'json',
            success: function (purchasesData) {
                drawPurchasesChart(purchasesData);
            },
            error: function (error) {
                console.error('Alış verileri alınamadı:', error);
            }
        });
    }

    function drawSalesChart(data) {

        if (data.length == 0) {
            var alert = document.getElementById("salesEmptyAlert");
            alert.classList.remove("d-none");
            alert.classList.add("d-flex");
            return;
        }

        var salesChartData = [['Ürün', 'Satış Miktarı']];
        data.forEach(function (item) {
            salesChartData.push([item.ProductName.toString(), item.TotalQuantity]);
        });

        var salesChartDataTable = google.visualization.arrayToDataTable(salesChartData);

        var salesChartOptions = {
            title: 'Ürün Satış Miktarları',
        };

        var salesChart = new google.visualization.PieChart(document.getElementById('salesPieChart'));
        salesChart.draw(salesChartDataTable, salesChartOptions);
    }

    function drawPurchasesChart(data) {

        if (data.length == 0) {
            var alert = document.getElementById("purchasesEmptyAlert");
            alert.classList.remove("d-none");
            alert.classList.add("d-flex");
            return;
        }

        var purchasesChartData = [['Ürün', 'Alış Miktarı']];
        data.forEach(function (item) {
            purchasesChartData.push([item.ProductName.toString(), item.TotalQuantity]);
        });

        var purchasesChartDataTable = google.visualization.arrayToDataTable(purchasesChartData);

        var purchasesChartOptions = {
            title: 'Ürün Alış Miktarları',
        };

        var purchasesChart = new google.visualization.PieChart(document.getElementById('purchasesPieChart'));
        purchasesChart.draw(purchasesChartDataTable, purchasesChartOptions);
    }

    $(document).ready(function () {
        $('#myTable').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });

        $('#myTable2').DataTable({
            "columnDefs": [
                { "width": "10px", "targets": 0 },
            ],
            "colReorder": true,
            "lengthMenu": [5, 10, 25, 50, 100],
            "pageLength": 5
        });
    });

</script>